*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#cabeza{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.present{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
